/* overall */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    display: grid;
    grid-template: 1fr 5fr / minmax(250px, 1fr) 5fr;
    min-height: 100vh;
    min-width: 100vw;
    font-family: Helvetica, "Roboto", "Oswald", sans-serif;
}

h1 {
    font-size: 1.75rem;
    font-weight: 550;
}

h2 {
    font-size: 1.4rem;
    font-weight: 500;
}

h3 {
    margin-top: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: rgb(80, 80, 80);
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

ul {
    list-style-type: none;
}


img {
    cursor: pointer;
}

/* sidebar */

#sidebar {
    grid-area: 1 / 1 / 3 / 2;
    color: white;
    background-color: rgb(36, 174, 254);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

}

#logo-icon {
    height: 3rem;
    width: auto;
}


#sidebar > ul > li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

#sidebar > ul {
    margin-bottom: 3rem;
}

.nav-icon {
    height: 1.25rem;
    width: auto;
    cursor: pointer;
}


#sidebar h1, #sidebar h2 {
    cursor: pointer;
}

/* top / search bar */

#top-bar {
    grid-area: 1 / 2 / 2 / 3;
    padding: 0rem 3rem 1rem 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#searchbar-container {
    display: flex;
    align-items: center;
}

#search-bar {
    background-color: rgb(225, 225, 225);
    border: none;
    border-radius: 1rem;
    flex-basis: 2000px;
    height: 1.4rem;
    padding: .5rem;
    margin-left: 1rem;
    font-size: .9rem;
}

#notifications-corner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile-img-small { 
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 1.25rem;
    background-color: lightgreen;
    margin: 0;
}

#profile-container {
    display: flex;
    align-items: center;
}

#profile-container > div > p {
    font-size: .9rem;
}

#profile-container h4 {
    margin-top: .3rem;
}

#profile-img-big {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 1.75rem;
    flex-shrink: 0;
    background-color: lightgreen;
    margin-right: .5rem;
}

#profile-row-button-area ul {
    display: flex;
    justify-content: space-between;
}

#profile-row-button-area li {
    padding: 0.5rem 1.5rem;
    margin-left: .5rem;
    border-radius: 1rem;
    background-color: rgb(36, 174, 254);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* main container */


#main-container {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(225, 225, 225);
    display: grid;
    grid-template-columns: 3fr minmax(200px, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
    padding: 0 1rem;
    padding-bottom: 1rem;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .5rem;
    background-color: white;
    padding: .75rem;
    border-left: 5px solid goldenrod;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
    max-height: 250px;
    transition: transform 0.3s ease; /* Smooth animation for the movement */
    cursor: pointer;
}

.project-card:hover {
    transform: translate(-5px, -5px); /* Moves 10px right and 10px down */
  }

.project-card p {
    max-height: 125px;
    overflow: scroll;
}

.project-card h4 {
    margin-bottom: .25rem;
}

.project-card p {
    font-size: .9rem;
    color: rgb(121, 121, 121);
    line-height: 1.25;
}

.project-icons {
    display: flex;
    justify-content: end;
    margin: 1rem 0rem;
}

.project-icons img {
    margin: 0rem 0.25rem;
}

/* announcements section */ 

#right-main-container {

}

#announcements-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
}

.announcement-card {
    padding-bottom: 1rem;
    margin: 1rem;
}

.announcement-card h6 {
    font-size: .9rem;
    margin-bottom: .25rem;
}

#announcements-container div:nth-child(1), #announcements-container div:nth-child(2) {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0;
}

.announcement-card p {
    font-size: .8rem;
    color: rgb(121, 121, 121);
}

/* trending section */ 

#trending-container {
    background-color: white;
    border-radius: .5rem;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
}

.trend-card {
    padding: .8rem;
    display: flex;
    align-items: center;
}

.trend-pic {
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    margin-right: .75rem;
    flex-shrink: 0;
}

#morgan {
    background-color: lightgreen;
}

#tegan {
    background-color: green;
}

#dragoa {
    background-color: pink;
}

#samuraito {
    background-color: aquamarine;
}

.trend-card h6 {
    color: gray;
    font-weight: 300;
    font-size: 1rem;
}

.trend-card p {
    margin-bottom: .2rem;
}